form(action="", method="POST", role="form")
    label(for="name") Name
    input(name="name" type="text")
    br
    label(for="type") Type
    input(name="type" type="text")
    br
    
    button submit 