doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0') 
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css') 
    link(rel='stylesheet', href='/stylesheets/all.min.css') 
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  block content
    script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js') 
    script(src='/javascripts/bootstrap.min.js')
    script(src='/build/main.js')
    script(src='/build/polyfills.js')
    script(src='/build/mainstyles.js')
    script(src='/build/vendor.js')

//  .container
//     nav.navbar.fixed-top.navbar-expand-md
//        a.navbar-brand(href='/') Movie Store 
//        button.navbar-toggler.navbar-toggler-left(type='button', datatoggle='collapse', data-target='navbarMain') 
//            span.navbar-toggler-icon
//        #navbarMain.navbar-collapse.collapse
//            ul.navbar-nav.mr-auto
//                li.nav-item
//                    a.nav-link(href='/about') About
//                li.nav-item
//                    a.nav-link(href='/list') Movies
                    
